* {
    box-sizing: border-box;
}
body,
ul{
    margin: 0px;
    padding: 0px;
    
}
body{
    font-family: 'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul {
    list-style: none;
}
.container {
    max-width: calc(1600px + 10%);
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

/* 頁首 */
header>.container {
    display: flex;
    align-items: center;
    height: 60px;
}
.logo {
    margin-right: 10px;
}
.nav-left,
.nav-right {
    display: flex;

}
.nav-right {
    margin-left: auto;
}
.nav-left li {
    display: inline-block;
    height: 48px;
    margin-top: 1px;
    padding: 13px 8px 10px;
}
.nav-right li {
    display: inline-block;
    display: flex;
    align-items: center;
    line-height: 32px;
    padding: 13px 8px 10px;
}
.nav-right li span {
    padding-right: 8px;
}
.search i {
    transform: rotate(90deg);
}

/* 輪播區 */
button {
    border: none;
    font-size: 15px;
}
.carousel .container {
    position: relative;
}
.carousel-content {
    width: 520px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}
.carousel-content button {
    width: 200px;
    height: 40px;
}
.carousel-content .black {
    background-color: black;
    color: white;
}
.carousel-content .white{
background-color: transparent;
}
button span {
    transition: .5s;
}
button:hover span {
    margin-right: 10px;
}
/* product區 */
.product .container{
    display: flex;
    justify-content: center;
    padding-top: 48px;
}
.product .container li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 184px;
    padding: 12px 6px;
    min-height: 44px;
}
.product .container li img{
    width:40px;
}
.product .container li:hover span{
text-decoration: underline;
}
/* 卡片區 */
.cards .container{
    display: flex;
    gap: 10px;
}
.card{
    width: 25%;
    height: auto;
    margin: 48px 0px;
    line-height: 24px;
}
.card img{
    width: 100%;
}
.card strong{
    background-color: #ffd800;
    padding: 3px 14px 5px;
    height: 26px;
    font-size: 13px;
}
h3{
    line-height: 24px;
    margin: 10px 0px 0px;
}
.card a{
    max-width: 100%;
    display: flex;
    align-items: center;
    color: #0067b8;
}
.card i{
    font-size: 19px;
}
.card span{
    position: relative;
    transition: .5s;
}
.card a:hover span{
    margin-right: 5px;
}
.card span::before{
    content: "";
    position: absolute;
    width: 98%;
    height: 2px;
    background-color: #0067b8;
    bottom: -2px;
    opacity: 0;
    transition: .5s;
}
.card a:hover span::before{
    opacity: 1;
}
.c{
    margin-top: 35px;
}
